		<br>
		<div class="container">
			<div class="row">
			<div class="span6 offset3">
			<font size="6px">Create Job Listing</p></font> <strong><font color="blue" face="HelveticaNeue-Light">**Currently launched in San Francisco Bay area for Tech & Design jobs only</font></strong>
		</div>
	</div>
	<div>

		

<br>
<%= render 'form' %>

<%= link_to 'Back', pins_path %>
