		<div class="span6 offset3">
			<h1>Post A Job</h1> <font color="blue">**Currently launched in San Francisco Bay area (Tech & Design jobs only)**</font>
		</div>
<br>
<br>
<br>
<%= render 'form' %>

<%= link_to 'Back', pins_path %>
