 <div class="hero-unit">
	<div class="user-info">
  <font size="7px"><%= @user.name %></font>
  
</div>

</div>



<div id="pins">
  <% unless @user.pins.blank? %>       
    <% @user.pins.each do |pin| %>
        <div class="box">
          <%= link_to (image_tag pin.image), pin %>
          <p class="description"><%= pin.description %><p>    <p><%= pluralize(pin.likes.count, 'like') %></p>         
        </div> 
        
    <% end %>  
  <% else %>
    No jobs posted yet.
  <% end %>
</div>