<% if user_signed_in? %>
<br>
<font size="5px" face="helveticaneue" color="#555555" style="margin-left: 5px"> Startups hiring right now:</font><br><br>
<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">

<% else %>

<body background="/assets/startupoffice3.png"style="background-repeat:no-repeat;">

	<br>
	<br>
	<br>
	<br>
	<br>
	<div style="text-align: center">
		<div class="homeheader">Work at the best startups.</div>



		<font size="4px" color="#ffffff" style="text-shadow:0px 2px 15px #000000, 0px -1px 1px #000000;letter-spacing: 1px" face="helveticaneue"  >Hyre is a beautiful way to help startups connect with the best <font face="Baskerville-Italic">&</font> brightest. </font>
	
	<br>
	<br>

		<div style="padding-bottom: 40px">
			<div class="masthead">
			<form action="/pins" class="navbar-search pull-left" method="get">

          <input id="search" type="text" name="search" class="search-query2" placeholder="Try searching startup jobs by city, position or keyword" >

          <%= image_submit_tag("hyresearchbutton4.png", :name => nil, class: "btn btn-custom3")%> 
      </form>
        <!--<%= link_to "Login", new_user_session_path, class: "btn btn-large" %>&nbsp;&nbsp;
			<%= link_to "Hiring? Post Free Job", new_user_registration_path, class: "btn btn-primary btn-custom btn-large" %>-->
			</div>
	<br> 

	<!--<select class="select required" id="pin_site_id" name="pin[site_id]"><option value="1">Youtube</option>
	<option value="2">Vimeo</option></select>-->
	

	<div style="text-align: right; margin-top: 170px">
		 <span class='st_twitter_hcount' displayText='Tweet'></span>
		<span class='st_fblike_hcount' displayText='Facebook Like'></span>
	</div>
</div>

</div>
</body>
<br>
<br>

<font size="5px" face="helveticaneue" color="#555555" style="margin-left: 8px"> Startups hiring right now:</font><br><br>
	<div class="row">

	</div>




<% end %>
