<% if user_signed_in? %>
<br>
<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">

<% else %>

<body background="/assets/startupoffice3light.png"style="background-repeat:no-repeat;">

		<!--<a href="/"><img src="/assets/hyrebetalogo.png" height="70" width="130"></a><br> -->
	<br>
	<br>
	<br>
	<br>
	<br>
	
		<font size="7.0em" face="HelveticaNeue-medium" color="white" style="text-shadow:0px 0px 15px #000000, 0px -1px 1px #000000;letter-spacing: 1px">Find your next rockstar.</font>

<br>
<br>

		<font size="4px" color="#ffffff" style="text-shadow:0px 0px 15px #000000, 0px -1px 1px #000000;letter-spacing: 1px" face="helveticaneue-light"  >Hyre is a simple, beautiful way to help startup companies <br>reach the best <font face="Baskerville-Italic">&</font> brightest.</font>
	
	<br><br>
		<div style="padding-bottom: 145px">
			<div class="masthead">
			<%= link_to "Login", new_user_session_path, class: "btn btn-large" %>&nbsp;&nbsp;
			<%= link_to "Post Free Job Listing", new_user_registration_path, class: "btn btn-primary btn-custom btn-large" %>
			</div>
	<br> 
	<br>

	<div style="text-align: left">
		 <span class='st_twitter_hcount' displayText='Tweet'></span>
		<span class='st_fblike_hcount' displayText='Facebook Like'></span>
	</div>

</div>
</body>
<br>
<br>

<font size="5px" face="oxygen" color="#393c3d" style="margin-left: 5px"> Startups hiring right now:</font><br><br>
	<div class="row">

	</div>



<% end %>
