<% if user_signed_in? %>
<br>
<font size="5px" face="helveticaneue" color="#555555" style="margin-left: 5px"> Startups hiring right now:</font><br><br>
<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">

<% else %>

<body background="/assets/startupoffice3light.png"style="background-repeat:no-repeat;">

	<br>
	<br>
	<br>
	<br>
	<br>
	
<div style='padding-bottom: 10px'>
		<font size="7.0em" face="HelveticaNeue-medium" color="white" style="text-shadow:0px 0px 15px #000000, 0px -1px 1px #000000;letter-spacing: 1px;padding-bottom: 20px">Work at the best startups.</font><br></div>




		<font size="4px" color="#ffffff" style="text-shadow:0px 2px 15px #000000, 0px -1px 1px #000000;letter-spacing: 1px" face="helveticaneue-light"  >Hyre is a simple, beautiful way to help startups connect <br>with the best <font face="Baskerville-Italic">&</font> brightest.</font>
	
	<br>
	<br>

		<div style="padding-bottom: 170px">
			<div class="masthead">
			<form action="/pins" class="navbar-search pull-left" method="get">

          <input id="search" type="text" name="search" class="search-query2" placeholder="Try searching jobs by city, position or keywords" >

          <%= image_submit_tag("hyresearchbutton4.png", :name => nil, class: "btn btn-primary btn-custom3")%> 
      </form>
        <!--<%= link_to "Login", new_user_session_path, class: "btn btn-large" %>&nbsp;&nbsp;
			<%= link_to "Hiring? Post Free Job", new_user_registration_path, class: "btn btn-primary btn-custom btn-large" %>-->
			</div>
	<br> 
	

	<div style="text-align: left">
		 <span class='st_twitter_hcount' displayText='Tweet'></span>
		<span class='st_fblike_hcount' displayText='Facebook Like'></span>
	</div>

</div>
</body>
<br>
<br>

<font size="5px" face="helveticaneue" color="#555555" style="margin-left: 8px"> Startups hiring right now:</font><br><br>
	<div class="row">

	</div>
	



<% end %>
