<% if user_signed_in? %>
	<div style="text-align: center">
		<a href="/"><img src="http://2.bp.blogspot.com/-dDOOlPUqgXc/UVRsluXiDSI/AAAAAAAAApY/DwUzwbdReO0/s1600/hyre.png" height="30" width="90"alt="some_text"></a><br><br>
	</div>

<% else %>
<div style="text-align: right">
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_fblike_hcount' displayText='Facebook Like'></span>
</div>
	<div style="text-align: center">
	<a href="/"><img src="http://2.bp.blogspot.com/-dDOOlPUqgXc/UVRsluXiDSI/AAAAAAAAApY/DwUzwbdReO0/s1600/hyre.png" height="70" width="130"></a><br>
	<br>
<font size="6px">Hyre is a visual job board.</p></font><font size="3px" color="#999999">a simple, beautiful way for startups & job-seekers to connect</font>
<br>
<br>
	
	<p>	
		<%= link_to "Login", new_user_session_path, class: "btn btn-large" %>&nbsp;&nbsp;
		<%= link_to "Hiring? Post Free Job", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>

	<br>
	<br>
	<div class="row">
</div>
</div>


<% end %>
