<div style="text-align: center">
	<h3>About<font face= "Billabong" size="15px" color="teal"> Heelgasm</font></h3>
	<br>
		<p>
			<font size="4.0em">Heelgasm is a simple tool that helps you discover, organize and share shoes you love. </font> 
		</p>
	</div>


