<div style="text-align: center">
	<br>
	<br>
	<br>
	<font face="HelveticaNeue-Light" size="7px" color="white" style="text-shadow:0px 1px 4px #000000;letter-spacing: 2px">About Hyre</font>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p>
		<body background="/assets/startupofficeabout.png" style="background-repeat:no-repeat;">
		
	
		<font color="#1492d6" size="4px" >OUR PURPOSE:</font><font color="#333333" size="4px"> TO EMPOWER STARTUPS WITH THE TALENT THEY NEED TO SUCCEED</font>
</p>

	<br>
			<p>

			<font size="3.0em" color="#999999" face="HelveticaNeue-Light" style="letter-spacing: 1px">I absolutely hate those blue job listing links. They're ugly, outdated and <br>uninspiring. I built Hyre to make job search beautiful, more fun, <br> effective and engaging for companies and job seekers. <br><br>  Hyre may not change the world, but it might <br> help employ the people who will.  <br><br> Join us, <%= link_to "post a job.", new_user_registration_path %></font> 
		</p>
	</div>
</div>
</div>
	



