<!--<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">-->

	<br>
	<br>
	
	<div class="offset1">
		<font face="open sans" size="6px" color="#444444" style="letter-spacing: 0px; line-height: 1.29"><b>Hyre's purpose is to <font color="#1d95cb">inspire</font> job seekers and <font color="#1d95cb">empower<br></font> startups with the talent they need to succeed.</b></font><br><br><br>
	<p>
	<section class="hero-section3">	
		
	<p>
		<font size="3.0em" color="#999999" face="HelveticaNeue-Light" style="letter-spacing: 1px">I absolutely hate those blue job listing links. They're ugly, outdated and uninspiring. I built Hyre to make job search beautiful, more fun, effective and engaging for companies and job seekers. <br><br>  Hyre may not change the world, but it might help employ the people who will.  <br><br> Join us, <%= link_to "post a job.", new_user_registration_path %></font> 
		</p>

	</div>
</div>
	



