<div style="text-align: center">
	<a href="/"><img src="http://3.bp.blogspot.com/-0XQgJuOgFz4/UUe7149F-OI/AAAAAAAAAoU/JDwcnEFGSdE/s1600/heelgasm.png" height="70" width="130" alt="some_text"></a>

	<br>
		<p>
			<font size="4.0em">Heelgasm is a simple tool that helps you discover, organize and share shoes you love. </font> 
		</p>
	</div>


