<div style="text-align: center">
	<h3>About<font face= "Billabong" size="15px" color="teal"> Heelgasm</font></h3>
	<br>
		<p>
			Heelgasm wants to be the best place to help you discover the shoes you want, need and love. <br> <%= link_to "One Month Rails", "http://onemonthrails.com" %>
			is a project to teach 
			<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
			in one month. This is the sample application.
		</p>
	</div>


