<div style="text-align: center">
	<a href="/"><img src="http://2.bp.blogspot.com/-dDOOlPUqgXc/UVRsluXiDSI/AAAAAAAAApY/DwUzwbdReO0/s1600/hyre.png" height="70" width="130" alt="some_text"></a>
<div class="row">
		<div class="span6 offset3">
	<br>
		<p>
			<font size="3.0em" color="#999999">I absolutely hate those blue job listing links. They're ugly, outdated and uninspiring. I built Hyre to make job search beautiful, more fun, <br> effective and engaging for companies and job-seekers. <br><br>  Hyre may not change the world, but it might <br> help employ the people who will.  <br><br> Join us. <%= link_to "Post a job.", new_user_registration_path %></font> 
		</p>
	</div>
</div>


