<!--<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40891350-1', 'hyreapp.com');
  ga('send', 'pageview');

</script>
	<br>
	<br>
	
	<div class="offset1">
		<font face="open sans" size="6px" color="#444444" style="letter-spacing: 0px; line-height: 1.29"><b>Hyre's purpose is to <font color="#1d95cb">inspire</font> job seekers and <font color="#1d95cb">empower<br></font> startups with the talent they need to succeed.</b></font><br><br><br>
	<p>
	<section class="hero-section3">	

		<font size="3.0em" color="#777777" face="HelveticaNeue-Light" style="letter-spacing: 1px">Hello :)<br><br>So, I absolutely hate those blue job listing links. They're ugly, outdated and uninspiring. I built Hyre to make job search beautiful, more fun, effective and engaging for companies and job seekers. <br><br>  The big audacious goal? I'm hoping one day Hyre will be able to search and index every available job from every startup company in the world, and display the results in a visually beautiful way. <br><br>Now granted, Hyre may not change the world, but it might help employ the people who will. And I'm perfectly okay with that.  <br><br> Cheers, <br><br><br> Cliff Dailey<br>Genius | Billionaire | Playboy | Philanthropist<br><br>
			<a href="https://twitter.com/cliffdailey" class="twitter-follow-button" data-show-count="false">Follow @cliffdailey</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	

	</section>
</div>

	



