<br>
	<br>
	<br>
<div class="offset1">
	<section class="hero-section">
	<font face="helveticaneue-light" size="7px" color="white" style="letter-spacing: 2px">Only $75 a Job</font>
	<br>
	<br>
	<p><font face="helveticaneue-light" color="#d7d7d7" style="letter-spacing: 1px">Pay just $75 to post a job on Hyre.</font></p>
</section>

</div>
<br>
<br>
<div class="offset1">
	<section class="hero-section2">
	<font face="helveticaneue-light" size="7px" color="white" style="letter-spacing: 2px">Only $75 a Job</font>
	<br>
	<br>
	<!--<p><font face="helveticaneue-light" color="#d7d7d7" style="letter-spacing: 1px">Pay just $75 to post a job on Hyre.</font></p> -->
</section>

</div>
<body background="/assets/whitetexturebg.png" style="background-repeat:repeat; background-attachment:fixed;">