<br>
	<br>
	<br>
<div class="offset1">
	<section class="hero-section">
	<font face="helveticaneue-light" color="white" style="letter-spacing: 2px;text-shadow:1px 1px 2px #000000">Simple Pricing for Job Ads</font>
	<br>
	<br>
	<br>
	<p class="intro">
		<font face="helveticaneue-light"  style="letter-spacing: 1px" >Hyre's pricing is pretty simple and straight forward. <br> in order to better serve the strapped for cash startup companies.</font></p>
		<br>
		<a href="users/sign_up"><img src="/assets/price.png"> </a>
		
</section>
</div>


<div class="offset1">
	<section class="hero-section2">
	<font face="helveticaneue-light" size="7px" color="white" style="letter-spacing: 2px">Only $75 a Job</font>
	<br>
	<br>
	<!--<p><font face="helveticaneue-light" color="#d7d7d7" style="letter-spacing: 1px">Pay just $75 to post a job on Hyre.</font></p> -->
</section>

</div>
<body background="/assets/whitetexturebg.png" style="background-repeat:repeat; background-attachment:fixed;">