<div style="text-align: center">

<body background="/assets/startupoffice3shadow.png" style="background-repeat:no-repeat;background-attachment:fixed;">
	<br>
	<br>
	<br>
	<font face="oxygen" size="7px" color="white" style="text-shadow:0px 1px 4px #000000;letter-spacing: 2px">Why Hyre?</font>
	<br>
	<br>
	<br>
	<div class="offset1">
	<section class="hero-section2">
	<!--<a href="/pins?search=manager">-->
	<img src="/assets/hyreimage4.png" >
	<br>
	<h1>Any Questions?</h1>
		<font color="#cccccc" size="2.0em">No, seriously, if you have any questions, concerns or feedback... <a href="mailto:info@hyreapp.com?Subject=Hey%20there!">email us!<a/></p></font><br>
		<%= link_to "Post Free Job Listing", new_user_registration_path, class: "btn btn-primary btn-custom btn-large" %> 
	</div>
	<br>
	<br>