/* You could change the font*/
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$navbarLinkColor: #cccccc;
$navbarLinkColorHover: #999999;
$btnPrimaryBackground: #3399ff;
$btnPrimaryBackgroundHighlight: #3366cc;
$navbarBackgroundHighlight: #ffffff;
$navbarBackground: #ffffff;


@import 'bootstrap';

body {
	padding-top:60px;
	background-color: #ffffff;
}





@import 'bootstrap-responsive';


.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}

}

/* Required for jQuery Masonry */


.box {
	margin: 5px;
	background-color: white;
	padding: 5.5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 1px;
	box-shadow: 0px 1px 3px #444;
	width: 270px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 1px;
}

.description {
	margin: 10px 0px 5px;
	font-size: 13px;
	color: #333333;
}

.well {
	background-color: white;
}

body 
p {line-height: 1.5em;
}

.hero-unit {
	background-color: #e6e6e6;
}

.icon-black-star {
    background-image: url(black_star.png);
    background-position: center center;
    height: 14px;
    width: 14px;
}
.icon-gold-star {
    background-image: url(gold_star.png);
    background-position: center center;
    height: 14px;
    width: 14px;
}
